In [6]:
a = 2
a

2

In [15]:
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf
print(tf.__version__)
import numpy as np
import pandas as pd

1.9.0

In [13]:
dt = np.random.rand(10,3)
df = pd.DataFrame(dt, columns = ['x','y', 'z'])

In [16]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x</th>
      <th>y</th>
      <th>z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.459138</td>
      <td>0.982166</td>
      <td>0.364465</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.968290</td>
      <td>0.258954</td>
      <td>0.979967</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.187215</td>
      <td>0.651489</td>
      <td>0.921614</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.313164</td>
      <td>0.958127</td>
      <td>0.522256</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.241340</td>
      <td>0.852117</td>
      <td>0.624414</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
def compute_norm(vect):    
    dist = tf.sqrt(vect[:,0]**2 + vect[:,1]**2 + vect[:,2]**2)
    return dist

In [36]:
with tf.Session() as sess:
    # pass in two triangles
    norm = compute_norm(tf.constant([
                                      [5.0, 3.0, 7.1],
                                      [2.3, 4.1, 4.8]
                                    ]))
    result = sess.run(norm)
    print(result)

[9.187491 6.718631]

* using placeholder

In [34]:
  sides = tf.placeholder(tf.float32, shape=(None, 3))  # batchsize number of triangles, 3 sides
  area = compute_area(sides)
  result = sess.run(area, feed_dict = {
      sides: [
        [5.0, 3.0, 7.1],
        [2.3, 4.1, 4.8]
      ]
    })
  print(result)

NameError: name 'compute_area' is not defined

In [37]:

with tf.Session() as sess:
    r = tf.placeholder(dtype=tf.float32, shape=(None,3))
    norm = compute_norm(r)
    result = sess.run(norm, feed_dict ={ r :[ [5.0, 3.0, 7.1],
                                              [2.3, 4.1, 4.8] ]} )
    print(result)

[9.187491 6.718631]

In [38]:

with tf.Session() as sess:
    r = tf.placeholder(dtype=tf.float32, shape=(None,3))
    norm = compute_norm(r)
    result = sess.run(norm, feed_dict ={ r : df} )
    print(result)

[1.1438059 1.4017766 1.1440544 1.135267  1.0836241 1.1402806 0.773899
 0.7044476 1.1643467 1.2911389]